:root {
    --Geel: #FFDD3E;
    --BgBlauw: #0544A5;
    --Oranje: #FF752A;

    --lingoOranje: #FF752A;
    --lingoBlauw: #0544A5;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

header {
    margin: 1.6rem 0;
}

main div:first-child {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main div {
    justify-items: center;
    justify-content: center;
}

#bingoSheet {
    /* width: 100vw;  */
    width: 400px;
    /* height: 100vw; */
    height: 400px;

    /* grid-area: bingoSheet; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .4rem;

    margin: 2rem;
}

#bingoSheet div {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: radial-gradient(blue, #060041);
}


#letterSheet {
    /* grid-area: letterSheet; */
    height: auto;
    /* height: 100%; */
    width: 100vw;
    max-width: 400px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .4rem;

    margin: 2rem;
}

#letterSheet div {
    width: 100%;
    max-width: 55px;
    height: 100%;
    
    display: flex;
    box-shadow: inset 0px 1px 3px 3px #000000;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    align-items: center;
    color: white;

    text-shadow: 2px 2px 2px #000000;
}

#letterSheet div {
    background-color: var(--lingoBlauw);
}

#letterSheet .diffrent {
    background-color: var(--Geel);
}

#letterSheet .good {
    background-color: var(--lingoOranje);
}

#guess {
    /* grid-area: submit; */
    width: 100%;
    background-color: lightgray;
    width: 100%;
}

form {
    max-width: 512px;
    margin: 0 auto;
}

input[type=text] {
    width: 100%;
    min-width: 7rem;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Tablet */
@media screen and (min-width: 768px) {
    /* main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-template-areas:
            "bingoSheet letterSheet"
            "submit submit"
    } */
}


/*Animation*/
.shake {
    animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    border-color: red;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}